
.logo{
    height: 49px;
    width: 140px;
    margin-left:40px ;
    background-position: center;
}

.nav{
    
    height:90px;
    
}
.nav-item a{
     
    font-family: 'Anton', sans-serif;
    font-weight:"bolder";
    font-size: smaller;
    color:white;
    margin-left : 40px;
    cursor: pointer;
}

.icons-sm{
    flex-direction: row;
    
}
.icons-sm .nav-social{
    padding-left: 1em;
   
}
.icons-sm .nav-link{

    cursor:pointer;
}
.navbar{
    background-color: #009b4e;
}
.section-1{
    height:590px;
    background-color: black; 
} 
.brand-tag-img{
    height:84px;
}

.brand-title{
    margin-left:50px;
    font-family: 'Anton', sans-serif;
    font-weight:900;
    color:white;
    font-size:4em;
    line-height:1.2em;
  
}
.brand-ad-img{
    max-width: 748px;
}
.btn-custom {
    background-color: #f4c006; 
    color: #000000; 
    border-radius: 0px;
 
  }
  .img-fluid{

        max-width:100%;
        height: auto;
  }
  .img-1{
        max-width:177px;
        height:auto;
  }
  .img-2{
    display: none;
  }
   @media (min-width:415px) and (max-width:992px){
    .brand-ad-img{
        display: none;
    }
    .img-2{
        display: block;
        max-width:100%;
        height: auto;
    }
    .img-1{
        max-width:177px;
        height:auto;
    }
    
    .section-1{
          max-height: 800px;
    }
    .brand-title{
        font-size:2em;
    }
    
     .video-preview{
        padding-top:400px;
        width:100%;
        height:auto; 
       }
.brand-motto2{
        font-size: 30px;
        padding-top:15vh;
}
.img-3{
        padding-top:10vh;
        height:100px;
        
}
}

@media (min-width:278px) and (max-width:415px){
    .video-preview{
        padding-top:40px;
        width:100%;
        height:auto;
    }
    .brand-title{

        font-size: 2em;
    }
}
  @media(min-width:993px) {
        .video-preview{
                padding-top:50px;
                width:80%;
                height:auto; 
               }
        .brand-motto2{
                font-size: 30px;
                padding-top:15vh;
                /* padding-left:; */
        }
        .img-3{
                padding-top:10vh;
                height:100px;
                
        } 
        
    }
 
 .brand-motto{
    font-size: 4em;
    width:300;
    font-family: 'Anton', sans-serif;
 }
 .video-description{
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
 }
.brand-motto2{
        color: #009b4e;
        font-size:50px;
        font-family:'Anton', sans-serif;
        padding-left: 6vw;
        padding-top:10vh;
}
.img-3{
        height: auto;
        max-width:100%;
}
.footer{
        background-color: #009b4e;
        margin-top:0rem;
}
.brand-logo2{
    height: 100px;
    width:180px;
   padding-left: 50px;
}
.social-linkfooter{
    list-style-type:none;
    display: flex;
    flex-direction: coloumn;
    
}
.social-linkfooter-heading{
font-family:'Anton', sans-serif;
color:white;
}
 .footer-brand-details{
    font-family:'Anton', sans-serif;
    color:white;
    line-height: 1vh;
    margin-top: 21px;
 }
 .copyright{
    margin-left:300px;
    font-family:'Anton', sans-serif;
    color: white;
 } 
 
 @media(max-width:576px){
      
    .social-linkfooter{

        margin-bottom: 10px;
    }
}
  